$bg-dark: #000000;

.tv-container {
  width: 100vw;
  height: 100vh;
  background-color: $bg-dark;
  overflow: hidden;
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.video-wrapper {
  position: absolute;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background: black; /* Para evitar bordes blancos */

  ::ng-deep youtube-player {
    width: 100vw !important;
    height: 100vh !important;
    display: block;

    iframe {
      width: 100vw !important;
      height: 100vh !important;
      border: none !important; /* Quita el borde nativo del iframe */
    }
  }
}

.click-blocker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999; /* Por encima del video sí o sí */
  background: transparent;
}

.waiting-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: radial-gradient(circle at center, #1a1a1a 0%, #000000 100%);
  color: white;

  .logo-container {
    margin-bottom: 3rem;
    img {
      width: 300px;
      opacity: 0.8;
    }
  }

  .waiting-text {
    text-align: center;
    h2 { font-size: 2.5rem; color: #ec4899; }
    p { font-size: 1.2rem; color: #aaa; }
  }
}

.bg-logo {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 15%;
  height: 15%;
  background-image: url('/assets/sopranos-logo.png'); // Usar ruta relativa
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.05;
  z-index: 5;
  pointer-events: none;
}


.iniciar-pantalla {
  position: absolute; top: 0; left: 0; width: 100vw; height: 100vh;
  background: black; color: white; display: flex; flex-direction: column;
  justify-content: center; align-items: center; z-index: 9999; cursor: pointer;
}
