<div class="tv-container">
  <div class="bg-logo"></div>
  <div class="click-blocker"></div>

  <div *ngIf="!estadoBox?.cancionActual" class="waiting-screen">

    <div class="waiting-text">
      <h2>Esperando siguiente canción...</h2>
      <p>Por favor, seleccionarla desde tu celular</p>
    </div>
  </div>

  <div class="video-wrapper" *ngIf="estadoBox?.cancionActual">
    <youtube-player
      [videoId]="estadoBox!.cancionActual!.videoId"
      [playerVars]="playerConfig"
      [width]="anchoPantalla"
      [height]="altoPantalla"
      (ready)="onPlayerReady($event)"
      (stateChange)="onPlayerStateChange($event)">
    </youtube-player>
  </div>
</div>
